.footer {
  width: 100%;
  position: absolute;
  bottom: 1rem;
  right: 5rem;
  color: var(--light-gray-text-1);
  font-size: 0.75rem;
  text-align: right;
}

.footer p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
    color: var(--light-gray-text-1);
    font-size: 0.75rem;
    text-align: center;
  }
}
