*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

/* :root {
  --black: #151616;
  --white: #f7f7f8;
  --dark-gray-bg-1: #fcfcfd;
  --light-gray-bg-1: #ffffff;
  --light-gray-bg-2: #fcfcfd;
  --light-gray-text-1: #d3d3d3;
  --light-blue-bg-1: #e9f2ff;
  --light-blue-bg-2: #cce1ff;
} */
:root {
  --black: #151616;
  --white: #ffffff;
  --dark-gray-bg-1: #272c36;
  --light-gray-bg-1: #f7f7f8;
  --light-gray-bg-2: #fcfcfd;
  --light-gray-text-1: #d3d3d3;
  --light-blue-bg-1: #e9f2ff;
  --light-blue-bg-2: #cce1ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif; */
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.rs-steps-item-title {
  font-size: 0.75rem !important;
  padding-top: 0.2rem !important;
}

.rs-steps-item-status-finish:hover,
.rs-steps-item-status-process:hover {
  cursor: pointer;
}

.rs-steps-item-status-finish:hover .rs-steps-item-title,
.rs-steps-item-status-process:hover .rs-steps-item-title {
  font-weight: bold;
}

.rs-drawer-left.rs-drawer-xs {
  width: 20rem;
}

.rs-drawer-body-close {
  left: auto;
  right: 15px;
  top: 15px;
}

.rs-loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.rs-loader {
  position: relative;
}
.rs-loader-wrapper,
.rs-loader-backdrop,
.rs-loader {
  z-index: 1050;
}

.rs-radio-checker {
  padding-top: 0;
  padding-bottom: 0;
}

.rs-radio-checker > label > span:last-child {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pagination-button {
  margin: 0.2rem;
}

.pagination-button .rs-icon {
  font-size: 1.8rem !important;
}

.confined-container {
  width: 100%;
  height: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .grecaptcha-badge {
    display: none !important;
  }
}
