.title {
  margin-bottom: 1rem;
}

.questioncard {
  padding: 1.5rem;
  background-color: var(--light-gray-bg-2);
  border-radius: 5px;
}

.question {
  margin-bottom: 1rem;
}

.question > p:first-child {
  font-weight: bold;
  margin-bottom: 1rem;
}

.questionradio {
  width: 100%;
  padding: 0 1rem 0 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.questionradio:hover {
  background-color: var(--light-gray-bg-1);
}

.questionradio[aria-checked='true'] {
  border: 1px solid var(--light-gray-bg-1);
  background-color: var(--light-gray-bg-1);
}

