.container {
  width: 100%;
  max-width: 1024px;
}

.title {
  margin-bottom: 1rem;
}

.questioncard {
  padding: 1.5rem;
  background-color: rgb(250, 250, 250);
}

.question {
  margin-bottom: 1rem;
}

.questionradio {
  padding: 0 1rem 0 0.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.questionradio:hover {
  background-color: var(--light-gray-bg-2);
}

.questionradio[aria-checked='true'] {
  border: 1px solid var(--light-gray-bg-1);
  background-color: var(--light-gray-bg-2);
}

.buttonwrapper {
  margin: 1rem 0;
  float: right;
}
